.about-container {
    max-width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 1;
    padding: 20px;
    background-color: #1f1f1f;
    color: #ffffff;
    overflow-x: hidden;
    overflow-y: auto;
  }
  
  .about-container h2 {
    font-size: 32px;
    max-width: 70%;
    margin-top: 20px;
    color: #ffffff;
  }
  
  .about-container p {
    font-size: 18px;
    margin-top: 10px;
    line-height: 1.5;
    max-width: 50%;
    text-align: center;
    color: #dddddd;
  }