.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #121212;
  color: #ffffff;
  padding: 10px 120px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.header-title {
  display: flex;
  align-items: center;
}

.header-title a {
  font-size: 24px;
  color: #ffffff;
  text-decoration: none;
}

.header-links {
  display: flex;
  align-items: center;
}

.header-links a {
  margin: 0 10px;
  color: #ffffff;
  text-decoration: none;
}

.header-dropdown {
  position: relative;
  cursor: pointer;
  color: #ffffff;
  margin: 0 10px;
}

.header-dropdown-content {
  display: none;
  position: absolute;
  background-color: #121212;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.header-dropdown:hover .header-dropdown-content {
  display: block;
}

.header-dropdown-content a {
  color: #ffffff;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.header-dropdown-content a:hover {
  background-color: #343434;
}
