body {
    background-color: #1f1f1f;
}

.privacy-policy-title {
    font-size: 30px;
    background-color: #1f1f1f;
    color: #fff;
    margin-top: 20px;
    color: #ffffff;
}

.privacy-policy-title-container {
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  border-radius: 8px;
  border: 2px solid #333;
  text-align: center;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  max-width: 75%;
  padding: 20px;
}

.privacy-policy {
    display: flex;
    border: 2px solid #333;
    border-radius: 8px;
    margin: auto;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
    flex-direction: column;
    justify-content: center;
    align-items: center;
    max-width: 75%;
    padding: 20px;
    background-color: #1f1f1f;
    color: #fff;
  }
  
  .privacy-policy h1,
  .privacy-policy h2,
  .privacy-policy h3 {
    font-size: 30px;
    margin-top: 20px;
    max-width: 75%;
    text-align: center;
  }
  
  .privacy-policy p {
    max-width: 75%;
    font-size: 22px;
    margin-top: 10px;
    line-height: 1.5;
    text-align: center;
  } 
