.privacy-policy {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    padding: 20px;
    background-color: #121212;
    color: #fff;
  }
  
  .privacy-policy h1,
  .privacy-policy h2,
  .privacy-policy h3 {
    font-size: 30px;
    margin-top: 20px;
    max-width: 50%;
    text-align: center;
  }
  
  .privacy-policy p {
    max-width: 50%;
    font-size: 22px;
    margin-top: 10px;
    line-height: 1.5;
    text-align: center;
  }  